body {
  font-family: Gilroy, sans-serif;
}

.navbar {
  background-color: #000;
  display: flex;
  border-radius: 0;
}

.tabas-navbar-logo {
  margin-left: 5rem;
  align-self: center;
}

.tabas-navbar-logo img {
  height: 30px;
}